version: '3.8'

services:
  rabbit:
    image: rabbitmq:3.12-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - rabbitmq-network

  consumer-a:
    build:
      context: ./consumer-a
      dockerfile: src/main/docker/Dockerfile.${QUARKUS_MODE:-jvm}
    environment:
      RABBITMQ_HOST: rabbit
      RABBITMQ_PORT: 5672
    ports:
      - "8080:8080"
    depends_on:
      - rabbit
    networks:
      - rabbitmq-network

  consumer-b:
    build:
      context: ./consumer-b
      dockerfile: src/main/docker/Dockerfile.${QUARKUS_MODE:-jvm}
    environment:
      RABBITMQ_HOST: rabbit
      RABBITMQ_PORT: 5672
    depends_on:
      - rabbit
    networks:
      - rabbitmq-network

networks:
  rabbitmq-network:
    name: rabbitmq-network